/*Extra small screen*/
@media screen and (max-width: 575px) and (min-width: 275px) {
    .nav-link_Res {
        margin: 0rem;
    }

    .logo {
        left: 0;
    }

    .Homebg1 {
        height: 12rem;
 
    }

    .Homebg2 {
        height: 12rem;
    }

    .HH {
        font-size: 20px !important;
    }

    .hT {
        font-size: 13px !important;
        padding: 0px 0px 0px 0px;
    }

    .HDH {
        font-size: 17px !important;
        letter-spacing: 2px;
    }

    .Homeblock1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Homeblock1hT {
        font-size: 25px !important;
    }

    .Homeblock2CartBody {
        top: 13rem;
    }

    .HHBlock2 {
        font-size: 42px !important;
    }

    .Homeblock4 {
        top: 300rem;
        margin-right: 0rem;
    }

    .login-inner {
        padding: 25px 30px 25px 30px;
    }

}

/*Small screen */
@media screen and (max-width: 767px) and (min-width: 576px) {
    .logo {
        left: 0;
    }

}

/*Medium screen */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .logo {
        left: 0;
    }

    .Homebg1 {
        height: 15rem;

    }

    .Homebg2 {
        height: 15rem;
    }

    .HH {
        font-size: 20px !important;
    }

    .hT {
        font-size: 17px !important;
        padding: 0px 0px 0px 0px;
    }

    .HDH {
        font-size: 21px !important;
        letter-spacing: 2px;
    }

    .Homeblock2CartBody {
        top: 8rem;
    }

    .HHBlock2 {
        font-size: 26px !important;
    }

    .HomeblockCartBodyH1 {
        font-size: 18px !important;
    }

    .HomeblockCartBodyH {
        font-size: 16px !important;
    }
}


/*Large screen */
@media screen and (max-width: 1199px) and (min-width: 992px) {

    .nav-link_Res {
        margin: 0rem 4rem;
    }

    .Homebg1 {
        height: 18rem;

    }

    .Homebg2 {
        height: 18rem;
    }
  
    .logo {
        left: 27.5rem;
    }

   
    .hT {
        font-size: 19px !important;
        padding: 0px 20px 0px 20px;
    }


    .HH {
        font-size: 24px !important;
    }

    .HDH {
        font-size: 40px !important;
        letter-spacing: 2px;
    }

}

/*Extra Large screen */
@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .nav-link_Res {
        margin: 0rem 6rem;
    }

}

/*Extra Large screen */
@media screen and (max-width: 4000px) and (min-width: 1400px) {

    .nav-link_Res {
        margin: 0rem 6rem;
    }

    .Homebg1 {
        height: 25rem;
    }

    .hT {
        font-size: 27px !important;
        padding: 0px 60px 0px 60px;
    }

    .Homebg2 {
        height: 25rem;
    }

    .HH {
        font-size: 40px !important;
    }

    .HDH {
        /* font-size: 40px !important; */
        letter-spacing: 2px;
    }

}