@media (min-width: 320px) {
    .Heading {
        font-size: 35px !important;
    }

    .login-inner {
        padding: 25px 30px 25px 30px;
    }

    .Text {
        font-size: 12px;
    }

    .Textsm {
        font-size: 12px !important;
    }

    .otp-inner {
        padding: 100px 30px 25px 30px;
    }

    .carousel-inner {
        height: 58px;
    }

    .logoPos {
        /* margin-left: 46rem !important; */
        position: relative;
        left: 26.3rem;
    }

    .HH {
        font-size: 15px !important;
    }

    .ProductImg {
        height: 70vw !important;
    }

    .proR {
        text-align: start;
    }

    .FooterH {
        font-size: 10px !important;
    }

    .FooterT {
        font-size: 8px !important;
    }
}

@media (min-width: 375px) {
    .Heading {

        font-size: 35px;
    }

    .login-inner {
        padding: 25px 40px 25px 40px;
    }

    .Text {
        font-size: 15px;
    }

    .Textsm {
        font-size: 8px !important;
    }

    .otp-inner {
        padding: 100px 40px 25px 40px;
    }

    .carousel-inner {
        height: 70px;
    }

    .HH {
        font-size: 20px !important;
    }

    .ProductImg {
        height: 70vw !important;
    }

    .CartBor {
        padding: 0.175rem 6.05rem !important;
    }

    .proR {
        text-align: start;
    }

    .FooterH {
        font-size: 10px !important;
    }

    .FooterT {
        font-size: 8px !important;
    }
}

@media (min-width: 425px) {

    .login-inner {
        padding: 25px 60px 25px 60px;
    }

    .Text {
        font-size: 18px;
    }

    .Textsm {
        font-size: 11px !important;
    }

    .otp-inner {
        padding: 100px 60px 25px 60px;
    }

    .carousel-inner {
        height: 70px;
    }

    .HH {
        font-size: 20px !important;
    }

    .ProductImg {
        height: 70vw !important;
    }

    .CartBor {
        padding: 0.175rem 7.25rem !important;
    }

    .proR {
        text-align: start;
    }

    .FooterH {
        font-size: 12px !important;
    }

    .FooterT {
        font-size: 10px !important;
    }
}

@media (min-width: 768px) {

    .login-inner {
        padding: 25px 60px 25px 60px;
    }

    .Text {
        font-size: 18px;
    }

    .Textsm {
        font-size: 11px !important;
    }

    .otp-inner {
        padding: 100px 60px 25px 60px;
    }

    .carousel-inner {
        height: 142px;
    }

    .HH {
        font-size: 20px !important;
    }

    .CartBor {
        padding: 0.175rem 0.25rem !important;
        font-size: 9px !important;
    }

    .ProductImg {
        height: 20vw !important;
    }

    .FooterH {
        font-size: 16px !important;
    }

    .FooterT {
        font-size: 14px !important;
    }
}


/* @media (min-width: 992px) {} */


@media (min-width: 1024px) {
    .login-inner {
        padding: 25px 70px 25px 70px;
    }

    .Text {
        font-size: 24px;
    }

    .Textsm {
        font-size: 15px !important;
    }

    .otp-inner {
        padding: 100px 70px 25px 70px;
    }

    .carousel-inner {
        height: 190px;
    }

    .logo {
        /* bottom: 1rem; */
        left: 27.8rem;
    }

    .HH {
        font-size: 28px !important;
    }

    .CartBor {
        /* border: 1px solid #D9D9D9; */
        padding: 0.375rem 0.25rem !important;
        font-size: 9px !important;
    }

}

@media (min-width: 1400px) {

    .login-inner {
        padding: 25px 130px 25px 130px;
    }

    .Text {
        font-size: 24px;
    }

    .Textsm {
        font-size: 18px !important;
    }

    .otp-inner {
        padding: 100px 130px 25px 130px;
    }

   .logo {
        left: 43.5rem;
    }

    .locP {
        left: 56.6rem;
    }

    .CartP {
        left: 79.1rem;
    }

    .proR {
        text-align: end;
    }

    .CHECK {
        bottom: 13.8rem !important;
        margin-left: 43rem;
    }

}

@media (min-width: 1500px) {

    .login-inner {
        padding: 25px 130px 25px 130px;
    }

    .Text {
        font-size: 24px;
    }

    .Textsm {
        font-size: 18px !important;
    }

    .otp-inner {
        padding: 100px 130px 25px 130px;
    }

    .carousel-inner {
        height: 268px;
    }

    .logo {
        left: 46rem;
    }

    .CartBor {
        padding: 0.55rem 1.25rem !important;
        font-size: 12px !important;
    }

    .proR {
        text-align: end;
    }

    .CHECK {
        bottom: 13.8rem !important;
        margin-left: 43rem;
    }

    .ProductDetailsheartPos {
        bottom: 39rem;
    }

    .ProductDetailsSharePos {
        bottom: 36rem;
    }

    .magnifyingGlass {
        bottom: 25.2rem !important;
    }

}