/*Extra small screen*/
@media screen and (max-width: 575px) and (min-width: 275px) {
    .nav-link_Res {
        margin: 0rem;
    }

    .logo {
        left: 0;
    }

    .Homebg1 {
        height: 12rem;
 
    }

    .Homebg2 {
        height: 12rem;
    }

    .HH {
        font-size: 20px !important;
    }

    .hT {
        font-size: 13px !important;
        padding: 0px 0px 0px 0px;
    }

    .HDH {
        font-size: 17px !important;
        letter-spacing: 2px;
    }

    .Homeblock1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Homeblock1hT {
        font-size: 25px !important;
    }

    .Homeblock2CartBody {
        top: 13rem;
    }

    .HHBlock2 {
        font-size: 42px !important;
    }

    .Homeblock4 {
        top: 300rem;
        margin-right: 0rem;
    }

    .login-inner {
        padding: 25px 30px 25px 30px;
    }

    .otp-inner {
        padding: 100px 30px 25px 30px;
    }

    .ProductImg {
        height: 14rem !important;
    }

    .heartPos {
        /* top: 140rem; */
        margin-left: 14rem;
    }

    .ProductDetailsImg {
        height: 31rem !important;
    }

    .text-end_Res{
        text-align: left;
    }

    .WishlistImg {
        height: 46vw !important;
    }

    .smRes{
        text-align: start;
    }

}



/*Small screen */
@media screen and (max-width: 767px) and (min-width: 576px) {
    .logo {
        left: 0;
    }

}

/*Medium screen */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .logo {
        left: 0;
    }

    .Homebg1 {
        height: 15rem;

    }

    .Homebg2 {
        height: 15rem;
    }

    .HH {
        font-size: 20px !important;
    }

    .hT {
        font-size: 17px !important;
        padding: 0px 0px 0px 0px;
    }

    .HDH {
        font-size: 21px !important;
        letter-spacing: 2px;
    }

    .Homeblock2CartBody {
        top: 8rem;
    }

    .HHBlock2 {
        font-size: 26px !important;
    }

    .HomeblockCartBodyH1 {
        font-size: 18px !important;
    }

    .HomeblockCartBodyH {
        font-size: 16px !important;
    }

    .login-inner {
        padding: 25px 30px 25px 30px;
    }

    .otp-inner {
        padding: 100px 30px 25px 30px;
    }

    .ProductImg {
        height: 18rem !important;
    }

    .heartPos {
        margin-left: 25rem;
    }

    .ProductDetailsImg {
        height: 32rem !important;
    }

    .WishlistImg {
        height: 22vw !important;
    }
}


/*Large screen */
@media screen and (max-width: 1199px) and (min-width: 992px) {

    .nav-link_Res {
        margin: 0rem 4rem;
    }

    .Homebg1 {
        height: 18rem;

    }

    .Homebg2 {
        height: 18rem;
    }

    .logo {
        left: 0;
    }

   
    .hT {
        font-size: 19px !important;
        padding: 0px 20px 0px 20px;
    }


    .HH {
        font-size: 24px !important;
    }

    .HDH {
        font-size: 40px !important;
        letter-spacing: 2px;
    }

    .login-inner {
        padding: 25px 40px 25px 40px;
    }

    .ProductImg {
        height: 14rem !important;
    }

    .heartPos {
        /* top: 140rem; */
        margin-left: 7rem;
    }

    .ProductDetailsImg {
        height: 34rem !important;
    }

 

}

/*Extra Large screen */
@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .nav-link_Res {
        margin: 0rem 6rem;
    }

}

/*Extra Large screen */
@media screen and (max-width: 4000px) and (min-width: 1400px) {

    .logo {
        left: 34.8rem;
    }

    .nav-link_Res {
        margin: 0rem 6rem;
    }

    .Homebg1 {
        height: 25rem;
    }

    .hT {
        font-size: 27px !important;
        padding: 0px 60px 0px 60px;
    }

    .Homebg2 {
        height: 25rem;
    }

    .HH {
        font-size: 40px !important;
    }

    .HDH {
        /* font-size: 40px !important; */
        letter-spacing: 2px;
    }

    .ProductDetailsheartPos {
        bottom: 40rem;
        margin-left: -3rem;
    }

    .ProductDetailsSharePos {
        bottom: 38rem;
        margin-left: -3rem;
    }

    .magnifyingGlass {
        top: 21.5rem !important;
    }

    .CHECK {
        bottom: 13.8rem !important;
        margin-left: 43rem;
    }
}